.header {
    width: 100%;
    box-shadow: var(--box-shadow);
}

.barra-de-navegacao {
    padding: 15px 30px;
    color: var(--font-color-1);
}

.navbar-logotipo div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 700;
    color: var(--font-color-3);
}

.navbar-logotipo div i {
    font-size: 22px;
    margin-right: 10px;
}

.barra-de-navegacao ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.navbar-header-lista li {
    margin-left: 30px;
}

.navbar-header-lista li a {
    font-size: var(--font-tam-pequeno);
    font-weight: 500;
    text-decoration: none;
    color: var(--font-color-1);
}

.navbar-header-lista li a:hover {
    color: var(--font-color-4);
}

.navbar-logotipo a img {
    width: 200px;
    height: 50px;
    object-fit: contain;
}

.opcoes-usuario button {
    border: none;
    padding: 10px;
    font-size: var(--font-tam-pequeno);
    border-radius: 10px;
    margin-left: 10px;
    cursor: pointer;
    font-weight: 500;
}

.btn-entrar {
    background-color: var(--bg-color-0);
    color: var(--font-color-4);
}

.btn-cadastrar {
    background-color: var(--bg-color-5);
    color: var(--font-color-2);
}

