@import "base/_variaveis.css";
@import "layout/_header.css";
@import "layout/_tela-principal.css";
@import "layout/_tela-agendamento.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;;
}

